* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}
body {
  /* background-color: rgb(119, 189, 216); */
  background-image: linear-gradient(to right, #00ffcc, #4098ad, #7070f8);
}
.container {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.card {
  background: white;
  width: 280px;
  height: 420px;
  border-radius: 10px;
  margin-top: 100px;
}
.card-image {
  background-color: blueviolet;
  height: 170px;
  /* margin-bottom: 15px; */
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
.img-1 {
  background-image: url("../image/card1.jpeg");
}
.img-2 {
  background-image: url("../image/card2.jpeg");
}
.img-3 {
  background-image: url("../image/card3.jpeg");
}

.btn-hover {
  width: 100px;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 25px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  margin-left: 10px;
}

.btn-hover:hover {
  background-position: 100% 0;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

h3 {
  font-family: system-ui;
  margin-left: 10px;
  /* margin-top: 24px; */
}
p {
  margin-top: 10px;
  margin-left: 10px;
  color: rgb(99, 99, 99);
  font-family: sans-serif;
}
.end {
  display: flex;
}
.img1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
}
h4 {
  font-family: system-ui;
  margin-left: 15px;
  margin-top: 20px;
}
.p-end {
  margin-top: 40px;
  margin-left: -69px;
  color: rgb(183, 183, 176);
}
/* card 2 */
.btn-hover.color-2 {
  background-image: linear-gradient(
    to right,
    #dab97c,
    #de9611,
    #d8af1b,
    #d49e08
  );
  box-shadow: 0 4px 15px 0 rgba(162, 147, 48, 0.744);
}

/* card 3 */
.btn-hover.color-3 {
  background-image: linear-gradient(
    to right,
    #e53007,
    #ee0e0e,
    #dd1515,
    #cb5d5d
  );
  box-shadow: 0 4px 15px 0 rgba(165, 47, 47, 0.75);
}