* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 620px;
  display: flex;
  border: 1px solid red;
  flex-direction: column;
  gap: 10px;
}
.header {
  display: flex;
  gap: 10px;
}
.row {
  width: 100%;
  height: 100px;
  background-color: rgb(50, 158, 194);
  align-content: center;
  text-align: center;
}
.main1 {
  display: flex;
  gap: 10px;
}
.col1 {
  width: 50%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.aside1 {
  /* margin-top: px; */
  width: 100%;
  background-color: rgb(9, 203, 103);
  height: 400px;
  align-content: center;
  text-align: center;
}
.col2 {
  width: 100%;
  height: 150px;
  display: flex;
  gap: 10px;
}
.artical {
  width: 100%;
  height: 400px;
  background-color: rgb(225, 173, 133);
  display: flex;
}
.col3 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  gap: 10px;
  align-items: flex-end;
  margin-bottom: 20px;
  /* margin-top: 70px; */
}
.image1 {
  height: 200px;
  width: 200px;
  background-color: rgb(158, 31, 60);
  align-content: center;
  text-align: center;
}
.image2 {
  height: 200px;
  width: 200px;
  background-color: rgb(158, 31, 60);
  align-content: center;
  text-align: center;
}
.image3 {
  height: 200px;
  width: 200px;
  background-color: rgb(158, 31, 60);
  align-content: center;
  text-align: center;
}

/* footer */
.end {
  width: 100%;
  height: 150px;
  display: flex;
  gap: 10px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: rgb(50, 158, 194);
  align-content: center;
  text-align: center;
}
